<div class="min-h-screen flex items-center justify-center bg-gray-50">
  <div class="p-6 w-full max-w-md text-center">

    <h1 class="text-3xl font-bold text-gray-800 mb-6">Weather Service</h1>
    <hr class="mt-6 mb-12 border-t border-gray-300">

    <% if flash[:alert] %>
    <div class="bg-red-100 text-red-800 p-4 rounded mb-4">
      <%= flash[:alert] %>
    </div>
    <% end %>

    <% if @current_weather %>
    <div>
      <h3 class="text-2xl font-semibold">
        <%= @current_weather.city_state %>
      </h3>
    </div>
    <p class="text-md text-gray-600">
      <%= "lat: #{@current_weather.lat}, lon: #{@current_weather.lon}" %>
    </p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-6 items-center text-center">
      <div class="space-y-4 order-3 md:order-1">
        <div>
          <p class="text-sm text-gray-500">Feels like:</p>
          <p class="text-lg text-gray-800 font-semibold"><%= @current_weather.data['main']['feels_like'] %>째F</p>
        </div>
        <div>
          <p class="text-sm text-gray-500">Max:</p>
          <p class="text-lg text-gray-800 font-semibold"><%= @current_weather.data['main']['temp_max'] %>째F</p>
        </div>
        <div>
          <p class="text-sm text-gray-500">Min:</p>
          <p class="text-lg text-gray-800 font-semibold"><%= @current_weather.data['main']['temp_min'] %>째F</p>
        </div>
      </div>

      <div class="order-1 md:order-2">
        <h2 class="text-4xl font-semibold">
          <%= @current_weather.data['main']['temp'] %>째F
        </h2>
      </div>

      <div class="order-2 md:order-3">
        <% if @current_weather.image_url.present? %>
        <p>
          <%= image_tag @current_weather.image_url, alt: "Weather Icon", class: "mx-auto" %>
        </p>
        <% end %>
        <p class="text-lg text-gray-800 capitalize">
          <%= @current_weather.data['weather'].first['description'] %>
        </p>
      </div>
    </div>
    <% end %>

    <hr class="my-6 border-t border-gray-300">

    <%= form_with url: search_weathers_path, method: :get, local: true, class: "mt-4 mb-8 space-y-4" do %>
    <div>
      <%= label_tag :city, "City", class: "block text-left mb-1 text-gray-700" %>
      <%= text_field_tag :city, params[:city], class: "w-full border border-gray-300 bg-white rounded-md p-2" %>
    </div>
    <div>
      <%= label_tag :state, "State", class: "block text-left mb-1 text-gray-700" %>
      <%= text_field_tag :state, params[:state], class: "w-full border border-gray-300 bg-white rounded-md p-2" %>
    </div>
    <button type="button" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 mr-3" onclick="requestCurrentLocation()">
      Back to my current location
    </button>
    <%= submit_tag "Search Weather", class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" %>
    <% end %>
  </div>
</div>
<script>
  function requestCurrentLocation() {
    const url = new URL("/", window.location.origin)

    navigator.geolocation.getCurrentPosition(function(position) {
      url.searchParams.set('lat', position.coords.latitude)
      url.searchParams.set('lon', position.coords.longitude)
      window.location.href = url.toString()
    })
  }

  document.addEventListener("DOMContentLoaded", () => {
    const url = new URL(window.location.href)

    if (!url.searchParams.get("lat") || !url.searchParams.get("lon")) {
      requestCurrentLocation()
    }
  })
</script>